<div class="col-md-10">
    <form class="form-inline" >
      <div class="form-group">
        <input class="form-control" id="nameInput" placeholder="">
      </div>
    </form>
</div>
<div class="col-md-2">
    <button id="sync-btn" class="btn btn-primary">Sync</button>
</div>